In [1]:
# imports
import sys
import pandas as pd
import re

# constants
MIN_T = 3
MAX_T = 28

In [2]:
# previous label sets
mdro_pos_large = pd.read_csv('./mdro_large_metadata.csv')
mdro_pos_large.sort_values(['StudyID', 'SampleDate'], inplace=True)
mdro_pos_large.index = mdro_pos_large['Stool ID']
mdro_pos_small = pd.read_csv('./mdro_pos.csv')
mdro_pos_small.sort_values(['StudyID', 'SampleDate'], inplace=True)
mdro_pos_small.index = mdro_pos_small['Stool ID']


# previous StudyID
mdro_pos_large_sid = mdro_pos_large.StudyID.unique()
mdro_pos_small_sid = mdro_pos_small.StudyID.unique()

In [3]:
# raw data
md = pd.read_excel('PLT_all_stool_isolates_seq_old.xlsx')
md.sort_values(['StudyID', 'SampleDate'], inplace=True)

# select only the patients relevant for each dataset
md_large = md.loc[md.StudyID.isin(mdro_pos_large_sid),:]
md_large.reset_index(drop=True, inplace=True)
md_small = md.loc[md.StudyID.isin(mdro_pos_small_sid),:]
md_small.reset_index(drop=True, inplace=True)

# assert patient list is the same, in the same order
assert(all(md_large.StudyID.unique() == mdro_pos_large_sid))
assert(all(md_small.StudyID.unique() == mdro_pos_small_sid))

In [24]:
md.loc[md.StudyID == 33, 'KPCisolate'].astype(str).apply(lambda x: re.search(r'3\d{4}', x))

1071    <re.Match object; span=(0, 5), match='35411'>
1073                                             None
1074                                             None
1072                                             None
1066                                             None
1075                                             None
1067                                             None
1076                                             None
1068    <re.Match object; span=(0, 5), match='35665'>
1069    <re.Match object; span=(0, 5), match='35673'>
1070                                             None
Name: KPCisolate, dtype: object

In [35]:
def any_MDRO(s):
    rgx=r'3\d{4}'
    esbl, kpc, vre = s[['ESBLisolate', 'KPCisolate', 'VRE +/-']]
    esbl = str(esbl)
    kpc = str(kpc)
    vre = str(vre)
    if ('+' in esbl or '+' in kpc or '+' in vre):
        return True
    elif re.search(rgx, esbl) or re.search(rgx, kpc) or re.search(rgx, vre):
        return True
    else:
        return False

In [36]:
# MDRO_POS_SMALL ANALYSIS

min_t = pd.Timedelta(days=MIN_T)
max_t = pd.Timedelta(days=MAX_T)
corrected_mdro_pos_small = pd.DataFrame(
    columns = ['Stool ID', 'SampleDate', 'StudyID', 'TxDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-', 'MDRO'] + [
        'Future_Stool_ID', 'Future_SampleDate', 'Future_ESBLisolate', 'Future_KPCisolate', 'Future_VRE_+/-', 'MIN_T', 'MAX_T', 'persistence'
    ]
)

# Get a pointer to the location of each sample in mdro_pos to its location in metadata. 
small_stool_mdidx = md_small.index[md_small['Stool ID'].isin(mdro_pos_small['Stool ID'])]

# make sure the samples pointed to are the same
assert(all(md_small.loc[small_stool_mdidx, 'Stool ID'].values == mdro_pos_small['Stool ID'].values))

# md_small and mdro_pos_small are both ordered by ['Study ID', 'Sample Date'], and there is one sample per Study ID (patient) in mdro_pos_small
# Therefore the ith sample in mdro_stool_mdidx is from the same StudyID as the ith iterate of md_small.groupby('StudyID) 
for i, (sid, df) in enumerate(md_small.groupby('StudyID')):
    
    # For the the current patient (Study ID), 
    # get the sample selected in mdro_pos_small plus all samples collected after it
    df_sample_future = df.loc[small_stool_mdidx[i]:, ]
    
    # filter on the time window
    # Get the delta in days between the sample in mdro_pos and future sample
    delta_t = df_sample_future.loc[:, 'SampleDate'] - df.loc[small_stool_mdidx[i], 'SampleDate']
    
    # only select samples in the [MIN_T, MAX_T]  window
    t_filter = ((min_t <= delta_t) & (delta_t <= max_t))
    df_sample_future = df_sample_future.loc[t_filter, :]
    
    # assign persistence label based on closest collected future sample
    persistence = any_MDRO(df_sample_future.iloc[0, :])
    
    # store mdro_pos_small metadata
    corrected_mdro_pos_small.loc[len(corrected_mdro_pos_small), :] = \
        list(df.loc[small_stool_mdidx[i], ['Stool ID', 'SampleDate', 'StudyID', 'TxDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-']]) + \
        [any_MDRO(df.loc[small_stool_mdidx[i], :])] + \
        list(df_sample_future.iloc[0, :][['Stool ID', 'SampleDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-']]) + \
        [MIN_T, MAX_T, persistence]
corrected_mdro_pos_small.to_csv('corrected_mdro_pos_small.csv')
corrected_mdro_pos_small.persistence.value_counts()

persistence
True     39
False    10
Name: count, dtype: int64

In [38]:
# MDRO_POS_LARGE_ANALYSIS

min_t = pd.Timedelta(days=MIN_T)
max_t = pd.Timedelta(days=MAX_T)
corrected_mdro_pos_large = pd.DataFrame(
    columns = ['Stool ID', 'SampleDate', 'StudyID', 'TxDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-', 'MDRO'] + [
        'Future_Stool_ID', 'Future_SampleDate', 'Future_ESBLisolate', 'Future_KPCisolate', 'Future_VRE_+/-', 'MIN_T', 'MAX_T', 'persistence'
    ]
)

# Get a pointer to the location of each sample in mdro_pos to its location in metadata. 
large_stool_mdidx = md_large.index[md_large['Stool ID'].isin(mdro_pos_large['Stool ID'])]

# make sure the samples pointed to are the same
assert(all(md_large.loc[large_stool_mdidx, 'Stool ID'].values == mdro_pos_large['Stool ID'].values))

# md_large and mdro_pos_large are both ordered by ['Study ID', 'Sample Date'], and there is one sample per Study ID (patient) in mdro_pos_large
# Therefore the ith sample in mdro_stool_mdidx is from the same StudyID as the ith iterate of md_large.groupby('StudyID) 
for i, (sid, df) in enumerate(md_large.groupby('StudyID')):
    
    # For the the current patient (Study ID), 
    # get the sample selected in mdro_pos_large plus all samples collected after it
    df_sample_future = df.loc[large_stool_mdidx[i]:, ]
    
    # filter on the time window
    # Get the delta in days between the sample in mdro_pos and future sample
    delta_t = df_sample_future.loc[:, 'SampleDate'] - df.loc[large_stool_mdidx[i], 'SampleDate']
    
    # only select samples in the [MIN_T, MAX_T]  window
    t_filter = ((min_t <= delta_t) & (delta_t <= max_t))
    df_sample_future = df_sample_future.loc[t_filter, :]
    
    # assign persistence label based on closest collected future sample
    persistence = any_MDRO(df_sample_future.iloc[0, :])
    
    # store mdro_pos_large metadata
    corrected_mdro_pos_large.loc[len(corrected_mdro_pos_large), :] = \
        list(df.loc[large_stool_mdidx[i], ['Stool ID', 'SampleDate', 'StudyID', 'TxDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-']]) + \
        [any_MDRO(df.loc[large_stool_mdidx[i], :])] + \
        list(df_sample_future.iloc[0, :][['Stool ID', 'SampleDate', 'ESBLisolate', 'KPCisolate', 'VRE +/-']]) + \
        [MIN_T, MAX_T, persistence]
corrected_mdro_pos_large.to_csv('corrected_mdro_pos_large.csv')
corrected_mdro_pos_large.persistence.value_counts()  
print(corrected_mdro_pos_large.to_string())

   Stool ID           SampleDate StudyID               TxDate                                    ESBLisolate       KPCisolate           VRE +/-   MDRO Future_Stool_ID    Future_SampleDate                                  Future_ESBLisolate Future_KPCisolate              Future_VRE_+/- MIN_T MAX_T persistence
0     30004  2014-04-07 00:00:00       5                  NaT                                            NaN            35022             35888   True           30011  2014-04-17 00:00:00                                                 NaN                No                       35892     3    28        True
1     30029  2014-05-20 00:00:00       6  2014-03-26 00:00:00                                             No               No             35834   True           30036  2014-06-04 00:00:00                                                  No                No                       35835     3    28        True
2     30006  2014-04-11 00:00:00       9  2014-04-07 00:00:00                                            NaN               No             35889   True           30010  2014-04-16 00:00:00                                                 NaN                No                       35805     3    28        True
3     30007  2014-04-12 00:00:00      10  2014-03-28 00:00:00                                            NaN            35023             35890   True           30012  2014-04-17 00:00:00                                                 NaN                No                       35815     3    28        True
4     30009  2014-04-15 00:00:00      11                  NaT                                            NaN               No             35891   True           30015  2014-04-23 00:00:00                                                 NaN                No                         NaN     3    28       False
5     30025  2014-05-09 00:00:00      13  2014-04-24 00:00:00                                             No               No             35833   True           30027  2014-05-14 00:00:00                                               35034                No                       35039     3    28        True
6     30661  2015-06-17 00:00:00      19  2015-06-13 00:00:00                                              N                N             35327   True           30675  2015-06-25 00:00:00                                                   N                 N                       35343     3    28        True
7     30030  2014-05-21 00:00:00      20  2014-05-08 00:00:00                                             No               No             35746   True           30034  2014-05-28 00:00:00                                                  No                No                           N     3    28       False
8     31071  2016-03-01 00:00:00      27  2016-01-09 00:00:00                                              N                N             35611   True           31093  2016-03-17 00:00:00                                                   N                 N                           N     3    28       False
9     30038  2014-06-09 00:00:00      30  2014-05-10 00:00:00                                             No               No             35836   True           30048  2014-06-23 00:00:00                                                  No                No                           N     3    28       False
10    30966  2015-12-03 00:00:00      33  2015-12-24 00:00:00                                          35563                N             35564   True           30978  2015-12-16 00:00:00                                                   N                 N                           N     3    28       False
11    30050  2014-06-27 00:00:00      38  2014-06-10 00:00:00                                          35036               No                 N   True           30064  2014-07-14 00:00:00                                        35043, 35044                No                       35841     3    28        True
12    31068  2016-02-25 00:00:00      39  2016-02-18 00:00:00                                              ?                N             35609   True           31074  2016-03-02 00:00:00                                                   N                 N                       35612     3    28        True
13    30049  2014-06-27 00:00:00      40  2014-06-17 00:00:00                                             No               No             35807   True           30053  2014-07-02 00:00:00                                                  No                No                       35839     3    28        True
14    30219  2014-11-20 00:00:00      42  2014-11-02 00:00:00                                              N                N             35820   True           30248  2014-12-02 00:00:00                                                   N                 N                           N     3    28       False
15    30572  2015-04-28 00:00:00      46  2014-10-18 00:00:00                                              N                N             35300   True           30628  2015-05-26 00:00:00                                               35296                 N                           N     3    28        True
16    30133  2014-10-09 00:00:00      48  2014-08-25 00:00:00                     35080 (BLUE) 35081 (WHITE)            35079                 N   True           30166  2014-10-29 00:00:00                                                   N                 N                           N     3    28       False
17    30068  2014-07-16 00:00:00      50  2014-06-27 00:00:00                                             No               No             35809   True           30087  2014-08-06 00:00:00                                                  No                No                           N     3    28       False
18    30322  2014-12-31 00:00:00      53  2014-06-22 00:00:00                                          35183            35184                 N   True           30400  2015-01-28 00:00:00                                               35214                 N                           N     3    28        True
19    30371  2015-01-14 00:00:00      55  2014-07-16 00:00:00                                          35199            35200                 N   True           30389  2015-01-22 00:00:00                                               35207             35208                           N     3    28        True
20    30891  2015-10-19 00:00:00      61  2015-10-10 00:00:00                                              N                N             35512   True           30910  2015-10-27 00:00:00                                                   N                 N                       35523     3    28        True
21    30346  2015-01-08 00:00:00      66  2014-12-20 00:00:00                                              N                N             35864   True           30358  2015-01-13 00:00:00                                                   N                 N                       35744     3    28        True
22    30171  2014-10-31 00:00:00      67  2014-07-13 00:00:00                             35104(P) 35105 (B)                N                 N   True           30218  2014-11-20 00:00:00                                 35133 (B) 35134 (P)                 N                           N     3    28        True
23    30444  2015-02-17 00:00:00      73  2014-08-26 00:00:00                                          35230            35231                 N   True           30476  2015-03-03 00:00:00                                               35243             35244                           N     3    28        True
24    30378  2015-01-20 00:00:00      74  2014-08-19 00:00:00                                          35203                N                 N   True           30445  2015-02-17 00:00:00                                                   N                 N                           N     3    28       False
25    30239  2014-11-28 00:00:00      75  2014-11-19 00:00:00                                              N                N             35810   True           30251  2014-12-02 00:00:00                                                   N                 N                           N     3    28       False
26    30784  2015-08-14 00:00:00      76  2015-06-17 00:00:00                                          35422                N                 N   True           30817  2015-09-02 00:00:00                                                   N                 N                           N     3    28       False
27    30104  2014-08-29 00:00:00      80  2014-08-23 00:00:00                                 35064 (PURPLE)               No                 N   True           30112  2014-09-16 00:00:00                                        35067 (PINK)                No                           N     3    28        True
28    30779  2015-08-12 00:00:00      84  2015-07-19 00:00:00                                          35446                N             35432   True           30794  2015-08-18 00:00:00                                                   N                 N                           N     3    28       False
29    30276  2014-12-12 00:00:00      93  2014-11-30 00:00:00                                          35156            35168                 N   True           30297  2014-12-18 00:00:00                                               35169             35170                           N     3    28        True
30    30548  2015-04-21 00:00:00      96  2014-11-13 00:00:00                                          35283                N                 N   True           30618  2015-05-19 00:00:00                                                   N                 N                           N     3    28       False
31    30142  2014-10-15 00:00:00      99  2014-10-05 00:00:00                                          35085               No                 N   True           30155  2014-10-22 00:00:00                                                   N                 N                           N     3    28       False
32    30164  2014-10-28 00:00:00     103  2014-10-13 00:00:00                                          35098                N                 N   True           30175  2014-11-03 00:00:00                                               35109                 N                           N     3    28        True
33    30766  2015-08-04 00:00:00     106  2015-02-14 00:00:00  35412, 35413 (BOTH FALSE + DUE TO BAD PLATES)            35414                 N   True           30780  2015-08-12 00:00:00                                                   N                 N                           N     3    28       False
34    30705  2015-07-10 00:00:00     107  2015-07-02 00:00:00                                          35345            35355                 N   True           30710  2015-07-14 00:00:00                                                   N                 N                           N     3    28       False
35    30493  2015-03-11 00:00:00     108  2015-02-14 00:00:00                                              N                N             35882   True           30503  2015-03-17 00:00:00                                                   N                 N                           N     3    28       False
36    30434  2015-02-12 00:00:00     109  2015-01-18 00:00:00                                              N                N             35727   True           30463  2015-02-25 00:00:00                                                   N                 N                       35873     3    28        True
37    30537  2015-04-13 00:00:00     110  2015-04-06 00:00:00                                              N                N             35728   True           30553  2015-04-21 00:00:00                                                   N                 N                           +     3    28        True
38    30230  2014-11-24 00:00:00     115  2014-10-27 00:00:00                            35140 (B) 35141 (P)                N             35854   True           30253  2014-12-03 00:00:00                                               35150                 N                           N     3    28        True
39    30542  2015-04-15 00:00:00     120  2015-04-08 00:00:00                                          35280                N                 N   True           30551  2015-04-21 00:00:00                                               35284                 N                           N     3    28        True
40    30266  2014-12-09 00:00:00     121  2014-12-02 00:00:00                                              N  N (SMALL BLUE?)                 N  False           30287  2014-12-16 00:00:00                                                   N                 N                           N     3    28       False
41    30356  2015-01-13 00:00:00     123  2014-12-18 00:00:00                                          35197                N                 N   True           30382  2015-01-20 00:00:00                                                   N                 N                           N     3    28       False
42    31022  2016-01-22 00:00:00     124  2015-11-17 00:00:00                                              N                N             35588   True           31046  2016-02-10 00:00:00                                                   N                 N                       35600     3    28        True
43    30355  2015-01-12 00:00:00     129  2015-01-04 00:00:00                                          35196                N                 N   True           30377  2015-01-15 00:00:00                                               35202                 N                           N     3    28        True
44    30344  2015-01-07 00:00:00     131  2014-12-29 00:00:00                                              N                N             35811   True           30383  2015-01-20 00:00:00                                                   N                 N                       35817     3    28        True
45    30834  2015-09-11 00:00:00     133  2015-07-08 00:00:00                     35466 (pink), 35467 (blue)                N             35489   True           30859  2015-09-29 00:00:00                                               35475                 N                           N     3    28        True
46    30333  2015-01-06 00:00:00     136  2014-12-30 00:00:00                                          35191                N                 N   True           30369  2015-01-14 00:00:00                                                   N                 N                       35743     3    28        True
47    30736  2015-07-22 00:00:00     140  2015-05-10 00:00:00                                              N                N             35368   True           30751  2015-07-29 00:00:00        35377, 35378- BOTH FALSE + DUE TO BAD PLATES                 N                           N     3    28        True
48    30435  2015-02-13 00:00:00     141  2015-02-01 00:00:00                                          35225            35226             35730   True           30443  2015-02-17 00:00:00                                                   N                 N                       35870     3    28        True
49    30379  2015-01-20 00:00:00     142  2015-01-16 00:00:00                                          35204                N                 N   True           30418  2015-02-03 00:00:00                                                   N                 N                           N     3    28       False
50    30392  2015-01-23 00:00:00     143  2015-01-16 00:00:00                                          35209                N                 N   True           30396  2015-01-27 00:00:00                                               35221                 N                           N     3    28        True
51    30578  2015-04-29 00:00:00     145  2015-04-16 00:00:00                                              N                N             35301   True           30594  2015-05-07 00:00:00                                               35292                 N                35303 (pink)     3    28        True
52    30839  2015-09-16 00:00:00     151  2015-09-09 00:00:00                      35468(PINK), 35469 (BLUE)                N             35470   True           30868  2015-10-07 00:00:00                           35494(PINK), 35495 (BLUE)                 N                           N     3    28        True
53    30508  2015-03-19 00:00:00     153  2015-03-10 00:00:00                                          35261                N                 N   True           30515  2015-03-24 00:00:00                                                   N                 N                           N     3    28       False
54    30543  2015-04-15 00:00:00     154  2015-02-09 00:00:00                            35281 (B) 35282 (P)                N  + (pink + white)   True           30562  2015-04-22 00:00:00                                 35286 (B) 35287 (P)                 N                   + (white)     3    28        True
55    30798  2015-08-19 00:00:00     156  2015-06-17 00:00:00                                          35429                N                 N   True           30838  2015-09-15 00:00:00                                                   N                 N                           N     3    28       False
56    31140  2016-04-18 00:00:00     157  2016-04-11 00:00:00                                          35644                N                 N   True           31151  2016-04-26 00:00:00                                               35649                 N                           N     3    28        True
57    31581  2017-06-09 00:00:00     159  2017-05-09 00:00:00                                              N                N        35831 NGX2   True           31589  2017-07-06 00:00:00                                                   N                 N                           N     3    28       False
58    30939  2015-11-13 00:00:00     161  2015-11-07 00:00:00                                          35544                N                 N   True           30951  2015-11-23 00:00:00                                               35554                 ?                           N     3    28        True
59    30665  2015-06-18 00:00:00     163  2015-06-20 00:00:00                                          35329                N                 N   True           30672  2015-06-24 00:00:00                                                   N                 N                           N     3    28       False
60    30611  2015-05-13 00:00:00     171  2015-05-07 00:00:00                                              N                N      35309 (pink)   True           30621  2015-05-20 00:00:00                                                   N                 N                           N     3    28       False
61    30616  2015-05-15 00:00:00     172  2015-05-07 00:00:00                                              N                N      35312 (pink)   True           30626  2015-05-26 00:00:00                                                   N                 N                35313 (pink)     3    28        True
62    30880  2015-10-14 00:00:00     175  2015-10-03 00:00:00                     35503 (purple halo), 35504                N             35505   True           30923  2015-11-04 00:00:00                                               35528                 N  35529 (PINK), 35530 (BLUE)     3    28        True